// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  height: 300px;
  width: 300px;
}
.table-hover {
  border: 3px solid orange;
  text-align: center;
}
th{
  padding: 10px;
  background-color: grey;
  text-align: center;
  font-size: 24px;
}
tr {
  border: 4px solid lightblue;
}
td {
  border:1px solid lightblue;
  padding: 5px;
  color: #d966ff;
  font-size: 30px;
  font-weight: bold;
}
h3 {
  color: pink;
}
div {
  margin: 20px;
}