body {
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  background-image: url(footer_lodyas.png);
  font-family: 'Bangers', cursive;
}
.field {
  color: grey;
}
.btn {
  background-color: #b3ffb3;
  font-size: 20px;
}