<h1>Products</h1>

<table border = 1px solid black>
<tr>
<th>Pedal</th>
<th>Price</th>
<th>Image</th>
<th>Description</th>
</tr>

  <tr>
  <% @products.each do |product| %>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><img src = "<%= product.image %>"/></td>
  <td><%= product.description %></td>
  </tr>
  <% end %>
  
  </table>